section
{
    border: 1px solid lightgrey;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 600px;
}

h4
{
    font-weight: 400;
}
.task_list
{
    overflow: scroll;
    margin-bottom: 50px;
}

.task
{
    display: block;
    padding-bottom: 10px;
    font-size: 17px;
    
}

.button
{
    margin-top: 20px;
    font-size: 13px;
    border: 1px solid black;
    padding: 12px;
    background: lightgray;
}

.archive
{
    color: rgb(124, 124, 124);
    text-decoration: line-through;
}

.addtask > h2
{
    font-weight: 400;
}

.addtask > p
{
    font-size: 13px;
}